{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong><mark>Drew's Python Lounge</strong></mark></h1>
        <br>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythonlounge.jpeg') }}" alt="Where are you?" height="210">
                    <div class="card-body">
                    <h5 class="card-title">Where <em>am</em> I</em>?</h5>
                    <p class="card-text">
                        Welcome to Drew's Python Lounge.
                        This is a private server on which Drew will keep his (as well as his group members') work.
                        This is a great place to test out ideas for potential HTML and CSS code.
                        And Python. Obviously.
                        Welcome in! You must be pretty special if you somehow got here.
                    </p>
                    <a href="https://en.wikipedia.org/wiki/Python_(programming_language)" class="btn btn-primary">What is Python?</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/fastpagesart.png') }}" alt="My Fastpages" height="300">
                    <div class="card-body">
                    <h5 class="card-title">You're cool! Where else are you?</h5>
                    <p class="card-text">
                        My Fastpages includes blog posts in which I go over much of my progress and learnings from AP Computer Science Principles.
                        Various programs can be found on my website.
                        Certain programs you'll find on here have further documentation on there.
                        Click the button below to see it.
                    </p>
                    <a href="https://drewreed2005.github.io/realdrew/" class="btn btn-primary">Drew's Fastpages</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/thewatcherslogo.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What are you working on right now?</h5>
                    <p class="card-text">
                        I'm working with "The Watchers" (Me, Devon Shepherd, Trent Cardall, and Jagger Klein) to make the "Work Watch."
                        It's a program that keeps track of how long you've been working to let you know when you should take breaks.
                        It also gives suggestions on things to do during your break.
                        Click the button to see more.
                    </p>
                    <a href="/stub/" class="btn btn-primary">"Work Watch" Info</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}